body{
  background: #fff;
  margin: 0;
  padding: 30px 0 0 0;
  font-family: Maven Pro, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}
h1{
  font-size: 36px;
}
.centered{
  text-align: center;
}
div.row {
  width: 900px;
  margin: auto;
}
#bannered {
  background-color: #2c4762;
  padding: 20px 0;
}
#bannered p{
  color: white;
  font-size: 18px;
}
div.container > *{
  margin-top: 15px;
}
div.sigma-parent{
  box-shadow: 0px 0px 12px #555;
}
div.sigma-control-panel{
  color: #666;
  border-top: 1px #ccc dashed;
  background: #fff;
  position: relative;
  height: 84px;
}
div.node-main-container{
  float: left;
  margin: 15px;
}
div.node-main-container a{
  color: #2c4762;
}
div.node-avatar{
  float: left;
  margin: 8px;
}
div.node-second-container{
  float: left;
  margin: 5px;
}
div.move{
  position: absolute;
  width: 72px;
  height: 72px;
  top: 0;
  right: 40px;
  margin: 5px;
}
div.contains-icon{
  margin-left: 2px;
  margin-top: 2px;
  width: 21px;
  height: 21px;
  position: absolute;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 3px #555;
  -moz-box-shadow:    inset 0 0 3px #555;
  box-shadow:         inset 0 0 3px #555;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}
div.contains-icon > .icon-button{
  position: absolute;
  left: 4px;
  top: 3px;
  width: 14px;
  height: 14px;
}
div.contains-icon:hover{
  background-color: #2c4762;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}
div[action="up"]{
  top: 0;
  left: 24px;
}
div[action="down"]{
  bottom: 0;
  left: 24px;
}
div[action="left"]{
  top: 24px;
  left: 0;
}
div[action="right"]{
  top: 24px;
  right: 0;
}
div.zoom{
  position: absolute;
  width: 24px;
  height: 72px;
  top: 0;
  right: 2px;
  margin: 5px;
}
div[action="out"]{
  top: 0;
  right: 0;
}
div[action="in"]{
  top: 48px;
  right: 0;
}
div[action="refresh"]{
  top: 24px;
  right: 0;
}
blockquote{
  color: #999;
}
h1.title{
  color: #2c4762;
  font-weight: bold;
}
div.sigma-container{
  position: relative;
  height: 500px;
  outline: none;
}
div.sigma-container > .keyboard-on{
  opacity: 0;
  z-index: 1;
  text-decoration:none;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #fff;
  position: absolute;
  margin: -5px;
  padding: 5px;
  box-shadow: 0px 0px 12px #555;
  top: 0;
  right: 0;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
div.sigma-container:focus > .keyboard-on{
  opacity: 1;
}
div.footer{
  margin-bottom: 40px;
}
.sigma{
  font-family: Lobster, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
form.search-nodes-form{
  position: absolute;
  top: 8px;
  right: 140px;
}
form.search-nodes-form input[type="text"]{
  font-family: Maven Pro, Arial, sans-serif;
  width: 140px;
}
ul.smart_autocomplete_container{
  background: #fff;
  font: Maven Pro;
  list-style-type: none;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0px 0px 12px #555;
  max-height: 200px;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}
ul.smart_autocomplete_container > li{
  list-style: none;
}
ul.smart_autocomplete_container > li.smart_autocomplete_highlight{
  color: #fff;
  background-color: #2c4762;
}
div.sigma-container.loading .keyboard-on{
  display: none;
}
input.search-query{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  width: 530px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  height: 18px;
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #555;
  border: 1px solid #CCC;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button[type="submit"]{
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #E6E6E6;
  background-color: #D9D9D9 9;
  outline: 0;
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whiteSmoke;
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-image: -ms-linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  -webkit-appearance: button;
  margin: 0;
}
  
/* PRELOADER */
#preloader{
  position: absolute;
  width: 116px;
  margin-left: -58px;
  left: 50%;
  height: 26px;
  top: 50%;
  margin-top: -13px;
  display: none;
  z-index: 1;
}
.sigma-container.loading #preloader{
  display: block;
}
.preloader{
  background-color: #FFFFFF;
  float: left;
  height: 25px;
  margin-left: 13px;
  width: 25px;
  -webkit-animation-name: bounce_preloader;
  -webkit-border-radius: 17px;
  -webkit-animation-duration: 1.05s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -moz-animation-name: bounce_preloader;
  -moz-border-radius: 17px;
  -moz-animation-duration: 1.05s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  opacity: 0.3;
  -o-animation-name: bounce_preloader;
  border-radius: 17px;
  -o-animation-duration: 1.05s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -ms-animation-name: bounce_preloader;
  -ms-animation-duration: 1.05s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  opacity: 0.3
}
#preloader_1{
  -webkit-animation-delay: 0.21s;
  -moz-animation-delay: 0.21s;
  -o-animation-delay: 0.21s;
  -ms-animation-delay: 0.21s;
}
#preloader_2{
  -webkit-animation-delay: 0.49s;
  -moz-animation-delay: 0.49s;
  -o-animation-delay: 0.49s;
  -ms-animation-delay: 0.49s;
}
#preloader_3{
  -webkit-animation-delay: 0.63s;
  -moz-animation-delay: 0.63s;
  -o-animation-delay: 0.63s;
  -ms-animation-delay: 0.63s;
}
@-webkit-keyframes bounce_preloader{
  0%{
    opacity: 0.3
  }
  50%{
    opacity: 1;
    background-color: #8f8f8f
  }
  100%{
    opacity: 0.3
  }
}
@-moz-keyframes bounce_preloader{
  0%{
    opacity: 0.3
  }
  50%{
    opacity: 1;
    background-color: #8f8f8f
  }
  100%{
    opacity: 0.3
  }
}
@-o-keyframes bounce_preloader{
  0%{
    opacity: 0.3
  }
  50%{
    opacity: 1;
    background-color: #8f8f8f
  }
  100%{
    opacity: 0.3
  }
}
@-ms-keyframes bounce_preloader{
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 1;
    background-color: #8f8f8f;
  }
  100%{
    opacity: 0.3;
  }
}